*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-bg{


    background-color: #2E3333;
    height: 300px;
    width: 100%;

}

.footer-card-container{

    width: 60%;
    margin: auto;
    display: flex;
    
}

.footer-card{

    background-color: #434848;
    margin: 20px;
    padding: 15px;
    width: calc(100%/4.1);
    height: 95%;
    color: white;
    border-radius: 5px;
    
}

.footer-card li{

    list-style: none;
}


