* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

header{
    width: 100%;
    border-bottom: 1px solid #efefef;
    background-color: white;
}

.header1 {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 60%;
    margin: auto;
    height: 70px;
    background: white;
    
}


.header-left {
    width: 20%;
    display: flex;
    align-items: center;
}

.header-left a{

    text-decoration: none;
    
}

.header-left li{

    list-style: none;
}


.header-left img {
    height: 50px;
    
}

.header-left span{

    margin-left: 10px;
    color: #007E8A;
    font-weight: bolder;
}

.header-center{
    
    min-width: 600px;
    flex-shrink: 2;
}


.header-right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-grow: 2;
}

/* .header-right > a {
    float: right;
} */
.header-right ul {
    list-style: none;
    height: 100%;
    text-align: right;
}
.header-right ul li {
    
    margin: 0 20px;
   
    height: 100%;
}
.header-right ul li a {
    color: #565A5C;
    text-decoration: none;
}


.hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    padding: 20px;
    width: 20%;
    height: 100%;
    min-width: 20vw;
    min-height: 100vh;
    background: white;
    border: 3px solid #007E8A;
}
.hamburger-menu ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    
    align-items: flex-start;
    list-style: none;
}
.hamburger-menu ul li {
   
    padding: 30px 0;

}
.hamburger-menu ul li a {
    color: #007E8A;
    padding: 30px 0;
    text-decoration: none;
    font-size: 15px;
    border-bottom: 2px solid white;
}
.close {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: #551A8B;
    font-size: 25px;
    text-decoration: none;
}



/* ------------------------------ */



.select-language{

    width: 340px;
    height: 40px;
    margin-top: 350px;
} 

.select-country{

    width: 340px;
    height: 40px;
    
}


.color1{

    color: #007E8A;
}

.button-register{

    border: 2px solid #FABD12;
    padding: 10px 20px;
    border-radius: 5px;
}

.space-navbar-menu{

    margin-left: 5px;
}

.menu-button-style{

    border: 2px solid #FABD12;
    padding: 10px 20px;
    border-radius: 5px;
}